/* Style Sheet created by Courtney Burch, June 23, 2021 */

/* style for body specifies a background color */
body{
    background-color: #1d1d1c;
    }

/* style to create fluid image */
img{
    max-width: 100%;
}

/*styles for mobile layout*/
/* style for container centers the page and sets the element width */
#container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* style for main specifies a block display, text properties, margins, padding, rounded border, and border properties*/
main{
    display: block;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
    margin-top: 0.5em;
    padding: 1em;
    border-radius: 2em 0 2em 0;
    background-color: #FFFFFF;
    opacity: 0.85
}
/* Style for anchor elements in the main element */
main a{
    background-color: #9d9d93;
    border-radius: 1em;
    color: #Ffffff;
    font-weight: bold;
    padding: 0.5em;
    text-decoration: none;
}
/* style for footer specifies font size, text alignment, and top margin*/
footer{
    font-size: 0.7em;
    text-align: center;
    margin-top: 2em;
    color: #Ffffff;
}
/* Style for anchor elements in the footer element */
footer a{
    color: #Ffffff;
    text-decoration: none;
}
/* style for header specifies top margin, background color, rounded corners, and center-aligns content */
header{
    text-align: center;
}

/* Style for nav specifies text properties*/
nav{
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    margin-top: -1.5em;
}

/*style specifies padding and margins for unordered list*/
nav ul{
    padding: 0;
    margin-top: 00.5em;
    margin-bottom: 00.5em;
}

/*style for nav li specifies the background color, rounded corners, removes bullet style, and applies margins and padding for list items within the navigation*/
nav li{
    background-color: #9d9d93;
    border-radius: 2em;
    list-style-type: none;
    margin: 0.3em;
    padding: 0.4em;
}

/*Style changes navigation link text color to white and removes the underline*/
nav li a{
    color:#FFFFFF;
    text-decoration: none;
}

/*Styles for the mobile class*/
.mobile{
    display: inline;
}

/*style hides the desktop class*/
.desktop{
    display: none;
}
/*style hides the tablet class*/
.tablet{
    display: none;
}

/*Style rule specifies to not display the equip class*/
.equip{
        display: none;
}

/* Style for aside elements */
aside{
    font-style: italic;
}

/* styles for input, select, and textarea form elements */
input, select, textarea{
    display: block;
    margin-bottom: 1em;
}
/* style for form label element */
label{
    display: block;
}
/* style for unordered list within form */
form ul{
    list-style-type: none;
}
/* style for checkbox class */
.chkbx{
    display: inline-block;
}

/*media query for tablet viewport targets screen size with a minimum width of 481px*/
@media only screen and (min-width : 660px) {
    /*Style specifies clear and top margin properties for the main element */
    main{
        clear: left;
        margin-top: -0.3em;
        border-radius: 0;
        overflow: auto;
    }
    
    /*Style specifies a horizontal display for navigation links*/
    nav li{
        display: inline;
        float: left;
        margin-left: 1%;
        margin-right: 1%;
        padding-left: 0;
        padding-right: 0;
        width: 18%;
        white-space: nowrap;
        border-radius: 0;
        background-color: transparent;
    }
    
    /*Style specifies to hide the mobile class */
    .mobile{
        display: none;
    }
    
    /*Style specifies to display the desktop class */
    .desktop{
        display: inline;
    }
    
    /*style specifies a display, float, and padding for the equip class*/
    .equip{
        display: inline;
        float: left;
        margin-right: 1.5em;
    }

    /*Style specifies a display, list style position, and bottom margin for the items class*/
    .items{
        display: block;
        list-style-position: inside;
    }

    /* Style specifies to display the tablet class  */
    .tablet{
        display: block;
        margin-top: -3em;
        margin-bottom: -1em;
    }

    /* Style specifies a font weight and top margin for description list items  */
    dt{
        font-weight: bold;
        margin-top: 0.7 em;
    }
    
    /* style for h1 element */
    h1{
        text-align: center;
    }
    /* style for images within the figure element */
    figure img{
        background-color: #1d1d1c;
        display: inline;
        height: 8em;
        width: 28%;
        margin: 1%;
        padding: 1%;
    }

    /* style for anchor elements within the figure element */
    figure a{
        background-color: transparent;
        padding: 0;
        text-decoration: none;
    }

    /* style rule specifies the bottom padding for the section element */
    section{
        padding-bottom: 3em;
    }

    /* style rule for the h1 element within the section element */
    section h1{
        text-align: left;
    }

    /* style for anchor element within the section element */
    section a{
        background-color: transparent;
        color: #1d1d1c;
        font-weight: normal;
        padding: 0;
        text-decoration: underline;
    }

    /* style for contact class */
    .contact{
        background-color: transparent;
        color: #1d1d1c;
        padding: 0;
        text-decoration: underline;
    }

    /* style for article elements */
    article{
        background-color: #c1d9ca;
        float: left;
        margin: 0.5%;
        padding: 0.5%;
        text-align: center;
        width: 31%
    }

    /* style for the image elements within the article elements */
    main article img{
        border: solid 0.1em #1d1d1c;
        margin-left: auto;
        margin-right: auto;       
    }

    /* style for paragraph element contained within the main article element */
    main article p{
        color: #000000;
        margin-top: 2%;
        padding: 1%;
        text-align: left;
    }
    

    /* style for unordered lists within the main article elements */
    main article ul{
        text-align: left;
    }
    
    /* Style for aside elements */
    aside{
        background-color: #ffffff;
        border-radius: 0 5em 5em 5em;
        box-shadow: 1em 1em 1em #4c4f4d;
        padding: 1.5em;
        margin: 1em;
    }
    /*styles for class schedule table*/
    table{
        border: 0.1em solid #000000;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
        width: 100%;
    }
    /* styles for the element */
    th{
        background-color: #1d1d1c;
        color: #ffffff;
    }

    /* styles specify border and padding for the and td elements */
    th, td{
        border: 0.1em solid #000000;
        padding: 1em;
        
    }
    /* styles for table caption */
    caption{
        font-size: 1.5em;
        font-weight: bold;
        padding-bottom: 0.5em;
    }
    /* style rule for form label element */
    label{
        float: left;
        padding-right: 0.5em;
        text-align: right;
        width: 10em
    }
    /* style for btn class */
    .btn{
        margin-left: 12em;
    }
}

/* media query for desktop viewports targets screens with a minimum width of 769px  */
@media only screen and (min-width : 830px){
    /* Style specifies a width for container  */
    #container{
        background-color: #1d1d1c;
    }

    /* Style specifies margin and padding for the unordered list in the nav  */
    nav ul{
        margin: 0;
        padding-left: 0.5%;
        padding-right: 0.5%;
    }

    /* style for navigation list items specifies a border radius, border, margin, width, and padding */
    nav li{
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        width: 20%;
    }

    /* Style for navigation links specifies display and padding  */
    nav li a{
        display: inline-block;
        padding: 0.7em;
        text-shadow: 0.2em 0.1em #3d3d35;
    }

     /* Style rules for pseudo-classes  */
     nav li a:link{
        color:#FFFFFF;
    }

    nav li a:visited{
        color: #ccccff;
    }

    nav li a:hover{
        color: #9d9d93;
        font-style: italic;
    }   

    /* Style specifies border, box shadow, and margins for the main element  */
    main{
        background-color: #1d1d1c;
    }

    /* Style specifies left and right padding for paragraph elements within the main element  */
    main p{
        color:#FFFFFF;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    
    /* Style specifies a background color for the body element  */
    body{
        background-color: #FFFFFF;
    }
    /* style specifies color and left margin for the section */
    section{
        color: #ffffff;
        margin-left: 1em;
        padding-bottom: 5em;
    }

    /* style for anchor element within the section element */
    section a{
        color: #ffffff;
    }

    /* style for paragraph within the section element */
    section p{
        margin-left: 0;
    }

    /* style to align header */
    header{
        text-align: left;
    }

    /* style for nav specifies a float, margin, and width */
    nav{
        float: right;
        margin-top: -7em;
        margin-right: 3em;
        margin-bottom: 0;
        width: 65%
    }


    /* style specifies height and opacity for images within figure element */
    figure img{
        height: 15em;
        opacity: 0.7;
    }

    /* style to remove opacity on hover */
    figure img:hover{
        opacity: 1;
    }

    /* style applies color to h1 element */
    h1{
        color:#FFFFFF;
    }

    /* style specifies a background color, margin, and padding for footer element */
    footer{
        background-color: #2a2a2a;
        margin-top: -0.2em;
        padding: 2em;
    }

    /* style for main h2 element */
    main h2{
        color: #ffffff;
    }

    /* style for contact class */
    .contact{
        color: #ffffff;
    }

    /* styles for main article h2 element */
    main article h2{
        color: #000000;
    }
    /*styles for class schedule table*/
    table{
        background-color: #ffffff;
        width: 85%;
    }
    
    /* styles for table caption */
    caption{
        color: #ffffff;
    }
    /* styles for form element */
    form{
        background-color: #ffffff;
        padding: 1em;
    }
    /* style for paragraph within form element */
    form p{
        color: #000000;
    }

}



